body {
    margin: 0;
    padding: 0;
    background-color: #9F9F9F;
}

#colorsplit1{
    background-color: #38352F;
}
#header-sec {
    background-color: #38352F;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

#header-logo {
    display: flex;
    flex-direction: row;
}

#header-text {
    font-family: 'AthensClassic';
    font-size: 22px;
}

#intro-sec {
    background-color: #38352F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
}

#intro-image {
    max-width: 40%;
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#intro-title, .header-in {
    color: #AFAAA0;
}

#header-logo, #header-links {
    padding: 10px;
}

#lens-blur-logo {
    padding-bottom:0px;
    margin-bottom: 0px;
}
#intro-textbox {
    padding: 10px;
}

#intro-title {
    font-weight: bold;
    font-size: 38px;
    font-family: 'ArcadeNormal';
    padding-bottom: 0;
    margin-bottom: 0;
}

#intro-button {
    background-color: #AFAAA0;
}

#intro-subtitle {
    font-family: 'AthensClassic';
    font-size :28px;
    color: #827663;
}

#info-sec {
    background-color: #10100E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-image {
    max-width: 250px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.infotextblock {
    color: #D37A41;
    font-family: "AthensClassic";
    font-size: 20px;
}
